Repository pop-os/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, btrfs, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, debug-generator, fstab-generator, growfs, hwdb, journal, journal-remote, meson, mkosi, network, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, xdg-autostart

Drop lp2002445-sd-netlink-do-not-swap-old-name-and-alternative-name.patch
  debian/patches/lp2002445-sd-netlink-do-not-swap-old-name-and-alternative-name.patch
  debian/patches/series
Labels: none

Drop lp2002445/sd-device-make-device_set_syspath-clear-sysname-and-sysnu.patch
  debian/patches/lp2002445/sd-device-make-device_set_syspath-clear-sysname-and-sysnu.patch
  debian/patches/series
Labels: none

Drop debian/UBUNTU-test-sleep-skip-test_fiemap-upon-inapproriate-ioctl-.patch
  debian/patches/debian/UBUNTU-test-sleep-skip-test_fiemap-upon-inapproriate-ioctl-.patch
  debian/patches/series
Labels: sleep

Drop lp2002445-sd-netlink-restore-altname-on-error-in-rtnl_set_link_name.patch
  debian/patches/lp2002445-sd-netlink-restore-altname-on-error-in-rtnl_set_link_name.patch
  debian/patches/series
Labels: none

Drop Deny-list-TEST-74-AUX-UTILS-on-s390x.patch
  debian/patches/Deny-list-TEST-74-AUX-UTILS-on-s390x.patch
  debian/patches/series
Labels: none

Drop lp2002445/sd-device-introduce-device_get_property_int.patch
  debian/patches/lp2002445/sd-device-introduce-device_get_property_int.patch
  debian/patches/series
Labels: none

Drop lp1999275-unit-check-more-specific-path-to-be-written-by-systemd-bi.patch
  debian/patches/lp1999275-unit-check-more-specific-path-to-be-written-by-systemd-bi.patch
  debian/patches/series
Labels: none

Drop lp2002445-sd-netlink-add-a-test-for-rtnl_set_link_name.patch
  debian/patches/lp2002445-sd-netlink-add-a-test-for-rtnl_set_link_name.patch
  debian/patches/series
Labels: none

Drop lp2004478-network-dhcp4-accept-local-subnet-routes-from-DHCP.patch
  debian/patches/lp2004478-network-dhcp4-accept-local-subnet-routes-from-DHCP.patch
  debian/patches/series
Labels: none

Drop lp2002445/core-device-ignore-failed-uevents.patch
  debian/patches/lp2002445/core-device-ignore-failed-uevents.patch
  debian/patches/series
Labels: none

Drop lp2002445-udev-attempt-device-rename-even-if-interface-is-up.patch
  debian/patches/lp2002445-udev-attempt-device-rename-even-if-interface-is-up.patch
  debian/patches/series
Labels: none

Drop lp1999275-binfmt-util-split-out-binfmt_mounted.patch
  debian/patches/lp1999275-binfmt-util-split-out-binfmt_mounted.patch
  debian/patches/series
Labels: binfmt

Drop test-skip-some-tests-when-machine-id-is-not-initialized.patch
  debian/patches/series
  debian/patches/test-skip-some-tests-when-machine-id-is-not-initialized.patch
Labels: tests

Drop lp2002445/udev-restore-syspath-and-properties-on-failure.patch
  debian/patches/lp2002445/udev-restore-syspath-and-properties-on-failure.patch
  debian/patches/series
Labels: none

Drop lp2002445-test-network-add-a-test-for-renaming-device-to-current-al.patch
  debian/patches/lp2002445-test-network-add-a-test-for-renaming-device-to-current-al.patch
  debian/patches/series
Labels: none

Drop lp2002445-udev-net-allow-new-link-name-as-an-altname-before-renamin.patch
  debian/patches/lp2002445-udev-net-allow-new-link-name-as-an-altname-before-renamin.patch
  debian/patches/series
Labels: none

Drop sd-netlink-skip-test_rtnl_set_link_name-when-altnames-are.patch
  debian/patches/sd-netlink-skip-test_rtnl_set_link_name-when-altnames-are.patch
  debian/patches/series
Labels: none

feat: Provide optional package to replace resolvconf
  debian/patches/series
  debian/patches/systemd-resolvconf.patch
Labels: none

feat: Provide optional package to replace resolvconf
  debian/patches/series
  debian/patches/systemd-resolvconf.patch
Labels: none

Pop!_OS patches
  debian/control
  debian/patches/arp.patch
  debian/patches/cryptswap-mount-fix.patch
  debian/patches/launchpad-build-fix.patch
  debian/patches/series
  debian/patches/system76-usb.patch
  debian/patches/systemd-boot-id-compat.patch
  debian/rules
  debian/source/format
Labels: none

DROP ON REBASE: 245.4-4ubuntu3.22
  debian/changelog
Labels: none

Add darp9 keyboard entry for mic mute
  debian/patches/series
  debian/patches/system76-darp9-micmute.patch
Labels: none

Add keyboard entry for mic mute on System76 products
  debian/patches/series
  debian/patches/system76-micmute.patch
Labels: none

Refresh patches
  debian/patches/debian/Don-t-enable-audit-by-default.patch
  debian/patches/debian/Downgrade-a-couple-of-warnings-to-debug.patch
  debian/patches/debian/Re-enable-journal-forwarding-to-syslog.patch
  debian/patches/debian/Revert-core-one-step-back-again-for-nspawn-we-actual.patch
  debian/patches/debian/Revert-core-set-RLIMIT_CORE-to-unlimited-by-default.patch
  debian/patches/debian/Skip-filesystem-check-if-already-done-by-the-initram.patch
  debian/patches/debian/Use-Debian-specific-config-files.patch
  debian/patches/debian/fsckd-daemon-for-inter-fsckd-communication.patch
  debian/patches/p11kit-switch-to-dlopen.patch
Labels: none

Update changelog for 252.11-1 release
  debian/changelog
Labels: none

Add systemd-dev package for pkg-config files
  debian/control
  debian/rules
  debian/systemd-dev.install
  debian/systemd.install
  debian/udev.install
Labels: none

Update changelog for 253-2 release
  debian/changelog
Labels: none

systemd-dev: add missing breaks/replaces with udev
  debian/control
Labels: none

Run the systemd-binfmt trigger unconditionally
  debian/systemd.postinst
Labels: none

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later

apparmor:
  - '**/*apparmor*'
binfmt:
  - '**/*binfmt*'
btrfs:
  - '**/*btrfs*'
busctl:
  - '**/*busctl*'
cgls:
  - '**/*cgls*'
cgtop:
  - '**/*cgtop*'
ci:
  - '.github/*'
coccinelle:
  - coccinelle/*
coredump:
  - '**/*coredump*'
documentation:
  - NEWS
  - README*
  - docs/*
  - man/*
env-generator:
  - '**/*environment*generator*'
debug-generator:
  - '**/debug-generator*'
fstab-generator:
  - '**/*fstab-generator*'
growfs:
  - '**/*growfs*'
hwdb:
  - hwdb.d/**/*
journal:
  - src/journal/*
journal-remote:
  - src/journal-remote/*
meson:
  - meson_options.txt
  - '**/meson.build'
mkosi:
  - .mkosi/*
  - mkosi.build
network:
  - src/libsystemd-network/**/*
  - src/network/**/*
portable:
  - src/portable/**/*
rc-local-generator:
  - src/rc-local-generator/*
repart:
  - '**/*repart*'
resolve:
  - '**/*resolve*'
rfkill:
  - '**/*rfkill*'
rpm:
  - src/rpm/*
run:
  - src/run/*
  - man/systemd-run*
sd-boot/sd-stub/bootctl:
  - src/boot/**/*
  - man/bootctl*
  - man/systemd-boot.xml
sd-bus:
  - '**/sd-bus*/**'
sd-daemon:
  - '**/sd-daemon*/**'
sd-device:
  - '**/sd-device*/**'
sd-event:
  - '**/sd-event*/**'
sd-hwdb:
  - '**/sd-hwdb*/**'
sd-id128:
  - '**/sd-id128*/**'
sd-netlink:
  - '**/sd-netlink*/**'
sd-path:
  - '**/sd-path*/**'
sd-resolve:
  - '**/sd-resolve*/**'
selinux:
  - '**/*selinux*'
sleep:
  - '**/*sleep*'
smack:
  - '**/*smack*'
socket-proxy:
  - '**/*socket-proxy*'
sysv-generator:
  - '**/*sysv-generator*'
systemctl:
  - '**/systemctl*'
sysupdate:
  - '**/*sysupdate*'
sysvcompat:
  - '**/*sysv*'
sysctl:
  - '**/*sysctl*'
timedate:
  - '**/*timedate*'
timesync:
  - '**/*timesync*'
tests:
  - src/test/**/*
  - src/fuzz/**/*
  - test/**/*
  - '**/test-*'
  - .github/workflows/*
tpm2:
  - '**/*tpm2*'
  - '**/*tpm-*'
udev:
  - src/udev/**/*
  - src/libudev/*
  - man/*udev*
uki:
  - '**/ukify*'
units:
  - units/**/*
userdb:
  - '**/*userdb*'
util-lib:
  - src/fundamental/**/*
  - src/basic/**/*
  - src/shared/**/*
vconsole:
  - '**/*vconsole*'
xdg-autostart:
  - '**/**xdg-autostart-generator*'
